# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
backend/node_modules/
frontend/node_modules/
bower_components/

# Build files
backend/dist/
frontend/dist/
dist-ssr/
*.local

# Uploaded files (if using uploads for user content)
backend/uploads/
frontend/uploads/

# Environment variables
backend/.env
frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache & Temp files
backend/.cache/
frontend/.cache/
.tmp/
.cache/
coverage/
*.pid
*.seed
*.pid.lock

# Editor & OS-specific files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Git related
.git/
